name: ci

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_call:
    inputs:
      configuration:
        description: Build configuration
        type: string
        default: Debug

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 10.0.x
      - name: Restore
        run: dotnet restore
      - name: Build
        run: dotnet build --configuration ${{ inputs.configuration || 'Debug' }} --no-restore
      - name: Test
        run: dotnet test --configuration ${{ inputs.configuration || 'Debug' }} --no-build --verbosity normal

  analyze:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 10.0.x
      - name: Restore
        run: dotnet restore
      - name: Check formatting
        run: dotnet format --severity warn --verify-no-changes
      - name: Check spelling
        uses: streetsidesoftware/cspell-action@v6
        with:
          config: .cspell.json
      - name: Lint markdown
        # cspell:words Anson
        uses: DavidAnson/markdownlint-cli2-action@v22
        with:
          config: .markdownlint-cli2.yaml
          fix: false

  pack:
    permissions:
      contents: read
    uses: ./.github/workflows/pack.yml
    with:
      configuration: ${{ inputs.configuration || 'Debug' }}
