name: ci

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 10.0.x
      - name: Restore
        run: dotnet restore
      - name: Build
        run: dotnet build --no-restore
      - name: Test
        run: dotnet test --no-build --verbosity normal

  analyze:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 10.0.x
      - name: Restore
        run: dotnet restore
      - name: Check formatting
        run: dotnet format --severity warn --verify-no-changes
      - name: Check spelling
        uses: streetsidesoftware/cspell-action@v6
        with:
          config: .cspell.json
      - name: Lint markdown
        # cspell:words Anson
        uses: DavidAnson/markdownlint-cli2-action@v22
        with:
          config: .markdownlint-cli2.yaml
          fix: false
