name: release

on:
  push:
    tags:
      - v*

jobs:
  test:
    permissions:
      contents: read
    uses: ./.github/workflows/ci.yml
    with:
      configuration: Release
      release: true

  pack:
    permissions:
      contents: read
    uses: ./.github/workflows/pack.yml
    needs: test
    with:
      configuration: Release

  attest:
    permissions:
      id-token: write
      attestations: write
    uses: ./.github/workflows/attest.yml
    needs: pack
    with:
      configuration: Release

  release:
    runs-on: ubuntu-latest
    needs: attest
    permissions:
      contents: write
      id-token: write
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Setup
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 10.0.x
      - name: Create Release
        run: |
          if [[ "${{ github.ref_name }}" == *-* ]]; then
            gh release create ${{ github.ref_name }} --generate-notes --prerelease
          else
            gh release create ${{ github.ref_name }} --generate-notes
          fi
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Download NuGet package
        uses: actions/download-artifact@v4
        with:
          name: nuget-package
          path: ./artifacts
      - name: Log into NuGet.org
        uses: NuGet/login@v1
        id: login
        with:
          user: heaths
      - name: Publish to NuGet.org
        run: dotnet nuget push ./artifacts/*.nupkg --api-key ${{ steps.login.outputs.NUGET_API_KEY }} --source https://api.nuget.org/v3/index.json --skip-duplicate
